<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" 
    href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/uploadfile1.css">
    <link rel="stylesheet" href="/static/css/uploadFile.css">
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="icon" type="image/svg" sizes="32x32" href="/static/images/proto 1.svg">
</head>
<body>
    <nav class="nav_bar">
 
        <div class="logo_div">
            <img src="/static/images/proto 1.svg" alt="logo" class="image">
            <p class="logo_title">PROTO</p>
        </div>
    
        <div class="link_btn_nav">
          <a class="nav_link" href="{% url 'dashboard' %}">Dashboard</a>
        </div>
        <div class="search_bar_div" id="menu">
            <i class="fa fa-search icon search_icon"></i>
           <input class="search_input" type="text" name="" id="" placeholder="Search">
           <img class="profile_avatar" src="/static/images/profile_avatar.png" alt="" srcset="">
        </div>
        <div class="burger" id="burger">
            <div class="line " id="line_1"></div>
            <div class="line" id="line_2"></div>
            <div class="line" id="line_3"></div>
        </div>
    </nav>
   <div class="main_div">
    <p class="title">FIND OUT WHICH METADATA INFORMATION YOUR FILE CONTAINS</p>
    <img class="folder_image"src="/static/images/folder_upload.png" alt="folder_icon" srcset="">
    <p class="description">Maximum File size 10MB. Mainly json, pdf, jpeg, mp3, mp4, csv, txt and any file.</p>
        
    <form method="POST" enctype='multipart/form-data' action="{% url 'uploadfile' %}" class="#">  
            {% csrf_token %}  
            {{ form.as_p }}
            <div class="buttons">
                <button class="upload" type="submit">Upload/Extract</button>
                <button class="cancel" type="reset">Cancel</button>
            </div>
    </form>
    
   </div>
    <script src="/static/javascript/uploadfile.js"></script>
</body>
</html>
