<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success Login</title>
    </head>

    <body>
        {% load social_share %}
        <h1>Congratulations you are now Login</h1>
        <a href={% url 'account:logout_api' %}>Logout</a>
        {% post_to_whatsapp object_or_url "link_text_whatsapp" %}
        {% post_to_facebook object_or_url "link_text_facebook" %}
        {% post_to_twitter "<text_to_post>" object_or_url "link_text_twitter" %}
    </body>

</html>
